* {
    margin: 0;
}

li {
    list-style-type: none;
}

#stepBox {
    border: 1px solid red;
    width: 5%;
    float: left;
}
#tab1 {
    border: 1px solid pink;
    width:30%;
    float: left;
}

#tab2 {
    border: 1px solid green;
    width: 30%;
    float: left;
}

#tab3 {
    border: 1px solid blue;
    width: 50%;
    float: left;
}

#scheduleContainer {
    width: 25%;
    float: left;
}

#placeSearchBox {
    width: 30%;
    float: left;
}

#search-input {
    width: 70%;
}

.placeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.placeInfo {
    display: flex;
    align-items: center;
}

.placeImg img {
    float: left;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.placeDesc {
    flex-grow: 1;
    width: 70%;
    display: flex; /* 추가 */
    flex-direction: column; /* 추가 - 세로 배치 */
    justify-content: center; /* 추가 - 수직 가운데 */
}

.placeDesc > * {
    text-align: left; /* placeDesc 안의 모든 직계 자식 요소 좌측정렬 */
}

.info-addr {
    font-size: 10px;
    color: #666;
}

#placeSelectBox {
    width: 30%;
    float: left;
}

#festival-modal.hidden {
    display: none;
}

#festival-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}